body {
	background-image: url(img/cool.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
.nav ul {
	list-style-type: none;
	
}
.nav ul li {
	display: inline-block;
	padding: 10.3rem;
	padding-top: 50px;
	
}
.nav a[href] { 
	color: white;
	text-decoration: none;
}
.hero p{
	font-family: courier;
	border: 5px solid whitesmoke;
	box-sizing: border-box;
	width: 660px;
	height: 150px;
	line-height: 2em;
	background-color: black;
}
.hobbie p{
	font-size: 25px;
	font-family: courier;
	color: red;
}
.porty img{
	display: inline-block;
	width: 350px;
	height: 350px;

}